<div class = "Profile_time">
<%= image_tag '9_41.png', alt: 'Time' %>
</div>

<div class = "Profile_back_button1">
<%= image_tag 'Path 4.png', alt: 'profile_picture'%>
</div>
<div class = "Profile_back_button2">
<%= image_tag 'Path 5.png', alt: 'profile_picture'%>
</div>

<div class = "Profile_names_title">DAISUKE SASAKI</div>


<div class = "Profile_picture">
<%= image_tag 'Ellipse.png', alt: 'profile_picture'%>
</div>


<div class = "Wifi_picture_profiles">

</div>







<div class= "Profile_posts">
    <p>Posts</p>
</div>


<div class= "Profile_followers">
    <p>Followers</p>
</div>
<div class= "Profile_following">
    <p>Following</p>
</div>

<div class = "Profile_picture">
<%= image_tag 'Ellipse.png', alt: 'profile_picture'%>
</div>
<div class = "Profile_picture2">
<%= image_tag 'Rectangle (1).png', alt: 'profile_picture'%>
</div>
<div class = "Profile_picture3">
<%= image_tag 'Rectangle (2).png', alt: 'profile_picture'%>
</div>
<div class = "Profile_picture4">
<%= image_tag 'Rectangle (3).png', alt: 'profile_picture'%>
</div>
<div class = "Profile_picture5">
<%= image_tag 'Rectangle (4).png', alt: 'profile_picture'%>
</div>
<div class = "Profile_picture6">
<%= image_tag 'Rectangle (5).png', alt: 'profile_picture'%>
</div>
<div class = "Profile_picture7">
<%= image_tag 'Rectangle (6).png', alt: 'profile_picture'%>
</div>