.container.profilePage
  .profilePage_user
    .profilePage_user_image
      = image_tag current_account.avatar_image
    .profilePage_user_basicInfo
    .profilePage_user_name
      .profilePage_user_displayName
        #{current_account.accountname}（#{current_account.age}・#{I18n.t("enum.genders.#{current_account.gender}")}）
        .profilePage_user_action
          = link_to 'Edit', edit_profile_path
      .profilePage_user_introduction
        = current_account.profile&.introduction