.sign_in_header_field
  = image_tag 'Rectangle.png'
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .sign_in_header_account_field
    = f.label :account
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .sign_in_header_password_field 
    = f.label :Email

    %br/
    = f.password_field :Email, autocomplete: "new-password"
  .sign_in_header_password_field 
    = f.label :password
    %br/
    = f.password_field :password, autocomplete: "new-password"
  .actions_account_registration
    = f.submit "CREATE ACCOUNT"
