<div class="sign_in_image">
  <%# app/assets/images %>
  <%= image_tag "Rectangle.png", alt: "Rails icon", id: "assets", class: "image", width: "300px" %>
</div>

<%= form_for(resource, as: resource_name, url: user_session_path(resource_name)) do |f| %>
  <div class="sign_in_email">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email"  %>
  </div>

  <div class="sign_in_password">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>


  <div class="sign_in_login_actions">
   <div class="sign_in_login_button">

   <div> 
  </div>
<% end %>

<%= render "devise/shared/links" %>
