.container
  .post_card_image_tag
    - @posts.each do |post|
      .post-post_card_image_tag_title
        .post_card_image
          = image_tag 'Ellipse (2).png'
        .post_card_title_comment
          %p1 
            = current_account.accountname
          %p2
            = post.display_created_at
          .post_card_picture1
            = image_tag 'Rectangle (7).png'
          .post_card_picture2
            = image_tag 'Rectangle (8).png'
          .post_card_picture3
            = image_tag 'Rectangle (9).png'
          .post_card_picture_below
            %p1= image_tag 'Vector2.png'
            %p2= image_tag 'Vector3.png'
  
            - if account_signed_in?
              -if current_account.has_liked?(post)
                .post_like_heart
                  = link_to posts_path(post), data: { method: 'delete' } do
                    =image_tag 'Vector.svg'
              -else
                .post_like_heart
                  = link_to posts_path(post), data: { method: 'post' } do
                    = image_tag 'heart.svg'
            .post_card_content
              = post.content

