.post_card_title
  .post_card_image
    = image_tag 'Ellipse (2).png'
  .post_card_title_comment
    %p1 Jmax_21
    %p2 3 hours ago
  - @posts.each do |post|
    .post_card_picture1
      = post.img
    .post_card_picture2
      = image_tag 'Rectangle (8).png'
    .post_card_picture3
      = image_tag 'Rectangle (9).png'
    .post_card_picture_below
      %p1= image_tag 'Vector.png'
      %p2= image_tag 'Vector3.png'
      %p3= image_tag 'Vector2.png'
    .post_card_content
      = post.content
