<div class ="post_new_make_">
   <div class= "post_new_making"> 
       <h1>投稿ページ</h1>
   </div>

<%= form_for @post do |f| %>
 <div class = "post_new_making_content"> 
  <h1><%= f.text_field :content %></h1>
  <h2><%= f.file_field :avatar %></h2>
  <h3><%= f.submit 'アップロードする'%></h3>
  <h4><%= link_to "ホームへ戻る", root_path %></h4>
  </div> 
<% end %>
</div>

