.container_show
  .post_card_image_tag_show
    .post-post_card_image_tag_title_show
      .post_card_image_show
        = image_tag 'Ellipse (2).png'
      .post_card_title_comment_show
        %p2
          = current_account.accountname
        %p2
          = @post.display_created_at
        .post_card_picture1_show
          = image_tag 'Rectangle (7).png'
        .post_card_picture2_show
          = image_tag 'Rectangle (8).png'
        .post_card_picture3_show
          = image_tag 'Rectangle (9).png'
        .post_card_picture_below_show
          %p1= image_tag 'Vector2.png'
          %p2= image_tag 'Vector3.png'
          - @comments.each do |comment|   
            .post_card_content_show
              = comment.content